# Wails build artifacts
build/bin/
frontend/dist/

# Node dependencies
frontend/node_modules/
node_modules/

# Go binaries and tools
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Local environment variables
.env
.env.local

go.sum


